#root {
  width: 100%;
  text-align: center;
  display: flex;
  gap: 60px;
}

.App-User {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.App-Portfolio {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
